@keyframes blur {
    0% {
        filter: blur(10000px);
        opacity: 0;
    }
    30% {
        filter: blur(1000px);
    }
    50% {
        opacity: 0;
    }
    60% {
        filter: blur(30px);
    }
    100% {
        filter: blur(0px);
        opacity: 1;
    }
}

* {
    transition: 2880ms;
}
:root {
    --darkest: hsl(0, 88%, 10%);
    --lightest: hsl(0, 71%, 85%);
}
body,
p,
i {
    filter: invert(1);
}
main i {
    --main: var(--main-inverted);
    text-shadow: 0 0 10px var(--main), 0 0 15px var(--main),
        0 0 20px var(--main), 0 0 25px var(--lightest), 0 0 20px var(--lightest);
}
.overlay {
    animation: blur 1880ms linear 0ms 1;
}
.overlay .lose-box {
    filter: invert(1);
    background-color: var(--main-inverted);
}
.lose-box i {
    position: absolute;
    margin-top: -0.3rem;
    cursor: pointer;
}
.lose-box article {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.lose-box article h2 {
    margin-top: -2%;
    margin-bottom: 1%;
}
.lose-box p {
    filter: invert(0);
}
.lose-box .reset-btn {
    background-color: var(--darkest);
    background-color: hsl(0, 93%, 16%);
    border-radius: 10px;
    padding: 0.3em;
    font-size: x-large;
}
