* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    user-select: none;
}
body {
    background-color: rgb(59, 66, 75);
    direction: rtl;
    height: 100vh;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
article {
    color: #fff;
}

header > article {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 3rem 0 2rem 0;
}
header > article > h1 {
    font-size: 5rem;
    text-align: center;
}
main {
    justify-self: flex-start;
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.45rem;
    justify-content: center;
    align-content: center;
}
.game-box {
    display: grid;
    width: fit-content;
    grid-template: repeat(5, 3.7rem) / repeat(5, 3.7rem);
    gap: 0.5rem;
    justify-content: center;
    align-content: center;
}
.sqr {
    display: flex;
    width: 3.7rem;
    height: 3.7rem;
    border-radius: 7.5%;
    background-color: #fff;
    justify-self: center;
    align-self: center;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
}
.ctrl-box {
    width: fit-content;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    gap: 0.4rem;
    grid-auto-rows: max-content;
    justify-content: center;
    align-items: center;
}

.ctrl-box > * {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7.5%;
    background-color: rgb(132, 172, 144);
    color: yellow;
    height: 100%;
    padding: 0.45rem;
}
main i {
    font-size: 35px;
}

footer {
    margin: 2rem auto 0.1rem;
    width: 90%;
}
footer > hr {
    background-color: #fff;
    height: 0.1rem;
    margin: 0 2%;
}
footer > article {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
footer > article p {
    padding: 0.5rem 0.5rem 0 0.5rem;
    margin: 0 1rem;
}
footer p.ps {
    position: relative;
}
p.ps img {
    width: 1rem;
    position: absolute;
    bottom: 0;
    left: -5%;
    z-index: 10;
}
/* @media (min-width: 1001px) {
    .sqr {
        width: 4.4rem;
        height: 4.4rem;
    }
    .game-box {
        grid-template: repeat(5, 5.1rem) / repeat(5, 5.1rem);
    }
} */
