@keyframes clickErr {
    50% {
        background-color: var(--main-inverted);
    }
}
@keyframes click {
    50% {
        background-color: var(--main);
    }
}

@keyframes show {
    to {
        opacity: 1;
    }
}
/* fonts */

@font-face {
    font-family: "Aref Ruqaa Ink";
    src: url(fonts/ArefRuqaaInk-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}
.ruqqa-Ink {
    font-family: "Aref Ruqaa Ink";
    filter: invert(1);
    color: var(--main-inverted);
}
@font-face {
    font-family: "Marhey";
    src: url(fonts/Marhey-VariableFont_wght.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
}

/* general styling and vars */

:root {
    --lightest: hsl(186, 71%, 85%);
    --main: hsl(185, 75%, 50%);
    --main-inverted: rgb(223, 48, 32);
    --dark-desaturated: hsl(185, 42.5%, 40%);
    --dark: hsl(185, 77%, 40%);
    --darker: hsl(185, 81%, 23%);
    --darkest: hsl(185, 88%, 10%);
    /* --two-old-colors: rgb(132, 172, 144); 
    hsl(185, 74%, 53%)*/
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    user-select: none;
}
body {
    background-color: var(--darkest);
    direction: rtl;
    height: 100vh;
    height: 100dvh;
    display: grid;
    grid-template-columns: repeat(2, 1fr) repeat(8, 2fr) repeat(2, 1fr);
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
        ". . h h h h h h h h . ."
        "sr sr h h h h h h h h sl sl"
        "sr sr . m m m m m m . sl sl"
        "f f f f f f f f f f f f";
}
article,
p {
    color: var(--lightest);
    font-family: "Marhey";
}
a {
    text-decoration: none;
    color: inherit;
}
@media (min-width: 2000px) {
    :root {
        font-size: xx-large;
    }
}
@media (min-width: 1450px) and (max-width: 1999px) {
    :root {
        font-size: larger;
    }
}
@media (min-width: 321px) and (max-width: 440px) {
    :root {
        font-size: small;
    }
}
@media (max-width: 320px) {
    :root {
        font-size: smaller;
    }
}

/* header */

header {
    grid-area: h;
}
header > article {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 2rem 0;
}
header > article > h1 {
    font-size: 5rem;
    text-align: center;
}

.HT {
    width: 2.125rem;
    height: 2.625rem;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--dark-desaturated);
    padding: 0.5rem 0.5rem 1rem 1rem;
    text-align: center;
    border-bottom-left-radius: 100%;
    color: var(--lightest);
    transition: 300ms;
    cursor: pointer;
    z-index: 10;
    overflow: hidden;
}
.HT > p {
    display: none;
    opacity: 0;
}
.HT:hover {
    width: 10rem;
    border-bottom-left-radius: 10px;
    background-color: var(--dark);
    height: max-content;
    max-height: 15rem;
}
.HT:hover i {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff,
        0 0 25px #fff, 0 0 25px #fff, 0 0 30px #fff, 0 0 35px #fff;
}
.HT:hover p {
    display: block;
    animation: show 150ms 300ms forwards;
}
.HT:hover i {
    transition: 350ms 100ms;
    font-size: 0;
    position: absolute;
}
.HT:hover ~ .overlay {
    opacity: 0;
    display: block;
    animation: show 350ms forwards;
}

/* main */

main {
    grid-area: m;
    align-self: flex-start;
    padding-top: 1rem;
    display: grid;
    grid-template-columns: min-content auto auto;
    gap: 0.45rem;
    justify-content: center;
    align-content: center;
}
.game-box {
    font-family: "Marhey";
    display: grid;
    grid-template: repeat(5, 3.7rem) / repeat(5, 3.7rem);
    gap: 0.5rem;
    justify-content: center;
    align-content: center;
    text-shadow: 0 0 10px var(--main), 0 0 20px var(--main),
        0 0 30px var(--main), 0 0 40px var(--main);
}
.sqr {
    display: flex;
    width: 3.7rem;
    height: 3.7rem;
    border-radius: 7.5%;
    justify-self: center;
    align-self: center;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    background-color: var(--darker);
    color: var(--main);
    transition: background-color 358ms;
}
.click-err {
    animation: clickErr 358ms linear;
}
.click {
    animation: click 60ms linear;
}
.ctrl-box {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    gap: 0.4rem;
    grid-auto-rows: max-content;
    justify-content: center;
    align-items: center;
}
.ctrl-box > * {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7.5%;
    background-color: var(--dark);
    height: 100%;
    padding: 0.45rem;
}
main i {
    font-size: 35px;
    color: var(--darkest);
}

/* aside */

aside.right {
    grid-area: sr;
    border-radius: 50% 0 0 50%;
}
aside.left {
    grid-area: sl;
    border-radius: 0 50% 50% 0;
}
aside {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-desaturated);
    padding: 1rem;
}
aside article {
    color: var(--darkest);
}
aside p {
    text-align: center;
}

/* main & aside (responsive) */

@media (max-width: 566px) {
    body {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: auto 1fr auto auto;
        grid-template-areas:
            "h h h h h h h h"
            ". m m m m m m . "
            "sr sr sr sr sr sr sr sr"
            "sl sl sl sl sl sl sl sl"
            "f f f f f f f f ";
    }
    aside {
        border-radius: 0.55rem !important;
        margin: 1rem 0.5rem 0;
    }
}

/* footer */

footer {
    grid-area: f;
    margin: 2rem auto 0.1rem;
    width: 90%;
    font-size: 0.7rem;
}
footer > hr {
    background-color: var(--darker);
    height: 0.1rem;
}
footer > article {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding-bottom: 0.25em;
}
footer > article > .wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}
footer > article p {
    padding: 0.5em 0.5em 0 0.5em;
    margin: 0 1rem;
    word-spacing: 0.1em;
    flex-grow: 1;
    text-align: center;
}
footer p.ps {
    position: relative;
    min-width: 20em;
}
footer p.ps img {
    width: 1rem;
    position: absolute;
    bottom: 0;
    z-index: 3;
}
footer p.personal {
    position: relative;
    margin-left: 4em;
    min-width: 11.856em;
}
footer span.name {
    position: absolute;
    width: max-content;
    padding-right: 0.2em;
    font-size: 1.5em;
    word-spacing: -0.35em;
    letter-spacing: 0.01em;
    bottom: -1%;
    text-shadow: 0 0 5px var(--main-inverted), 0 0 10px var(--main-inverted);
}
footer i {
    color: var(--main);
}
.copyright-symbol {
    font-family: initial;
    /* font-size: 1.2rem; */
}
@media (min-width: 500px) and (max-width: 1127px) {
    footer > article p {
        flex-grow: 0;
        text-align: unset;
    }
}

/* overlay (for win & lose) */
.overlay {
    z-index: 5;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(117, 253, 253, 0.33);
    animation: opacity 500ms;
    justify-content: center;
    align-items: center;
}
.overlay .lose-box,
.overlay .win-box {
    width: 500px;
    height: 300px;
    border-radius: 7.5%;
    text-align: center;
    padding: 1.5rem;
    flex-direction: column;
    justify-content: space-between;
    margin-inline: 1rem;
}
.overlay h2 {
    font-size: 2.5rem;
}
article.code {
    font-size: 0.5rem;
    display: flex;
    justify-content: center;
    gap: 0.3rem;
    margin: 0.2rem;
    position: relative;
}
article.code .hovery {
    background-color: var(--darker);
    padding: 0.1rem;
    font-size: 0.9em;
    border-radius: 7.5%;
    writing-mode: initial;
    width: max-content;
    position: absolute;
    right: 1.25rem;
    display: none;
}
.hovery::before {
    content: "";
    display: block;
    border-color: transparent transparent transparent var(--darker);
    border-style: solid;
    border-width: 0.5rem;
    position: absolute;
    top: -0.01rem;
    right: -1rem;
}
article.code:hover .hovery {
    display: block;
}
main article.code {
    writing-mode: vertical-rl;
}
.overlay,
.overlay > * {
    display: none;
}
