@keyframes grow {
    0% {
        transform: scale(0.1);
    }
    94% {
        transform: scale(1);
        rotate: calc((360deg * 15) + 20deg);
    }
    100% {
        rotate: calc(360deg * 15);
    }
}
@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.overlay {
    display: flex;
}
.overlay .win-box {
    display: flex;
    position: relative;
    padding: 1.5rem;
    background-color: var(--darkest);
    overflow: hidden;
}
.win-box i {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 1rem;
    margin-right: 1rem;
    color: var(--darker);
    cursor: pointer;
}
.win-box article.main {
    color: var(--main);
    margin-top: -1rem;
    margin-bottom: 1rem;
}
article.main > p {
    font-size: 0.8rem;
    margin-top: -0.9rem;
}
article.main a {
    color: var(--main);
}

/* game image section */

section.game-image {
    flex-grow: 1;
    display: grid;
    grid-template: repeat(5, 2rem) / repeat(5, 2rem);
    font-size: 1rem;
    gap: 0.3rem;
    justify-content: center;
    align-content: center;
    text-shadow: 0 0 10px var(--main), 0 0 15px var(--main),
        0 0 20px var(--main), 0 0 25px var(--dark), 0 0 20px var(--darkest);
    animation: grow 5505ms 1 cubic-bezier(0.3, 0, 0.3, 1);
}
section.game-image .sqr {
    width: 100%;
    height: 100%;
    font-size: 1rem;
}

/* secret code article */
article.code .hovery {
    bottom: -1.3rem;
    width: unset;
    right: unset;
}
.hovery::before {
    border-color: transparent transparent var(--darker);
    top: -1rem;
    left: 0.5rem;
    right: unset;
}
main article.code {
    display: none;
}
